@font-face {
    font-family: Roboto;
    src: url(./font/Roboto/Roboto-Light.ttf);
}

.banner{
    font-size: 54px;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
}

/* Start Now */
.banner-text{
    letter-spacing: 0.05em;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/* logo */
.banner img{
    width: 50px;
    height: 50px;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
}

.left{
    display: flex;
    position: relative;
    height: 100vh;
    width: min(400px, 35vw);
}
@media screen and (max-width: 795px){
    body{
        flex-direction: column;
    }

    .left, .left .main-image{
        width: 100vw;
        height: 200px;
    }
    .right{
        width: 100vw;
        height: 100%;
    }
}

.left .main-image{
    border: 0;
    width: inherit;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #83a2b5;
}

.info{
    text-align: center;
}

.form-info{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.first-line{
    font-size: 24px
}

form:last-child{
    font-size: 15px
}

.firstRow, .secondRow,
.thirdRow{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-control{
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.form-control input{
    display: block;
    width: 200px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
    margin-bottom: 2px;
    font-family: inherit;
    outline: none;
    border-radius: 4px;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 28px;
    left: 180px;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.password-constraints{
    position: absolute;
    visibility: hidden;
    font-size: 13px;
    
    top: -50px;
    left: 440px;
    width: 200px;
}

.form-control.error .password-constraints{
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    position: absolute;
    visibility: hidden;
    left: 0;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

label::after{
    content: ' *';
    color: red;
}

.required-class::before{
    content: '* ';
    color: red;
}

button, .last-line{
}

button{
    --background-color: rgba(199, 125, 51, 0.9);
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
    font-family: inherit;
    font-size: 16px;
    padding: 10px 25px;
    border: transparent;
    border-radius: 8px;
    top: calc(100% + 25px);
}

button:hover{
    background-color: rgba(199, 125, 51, 1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.last-line{
    top: calc(100% + 70px);
    font-size: 16px;
    font-weight: 600;
    color: black;
}

a{
    text-decoration: none;
    color: rgb(228, 122, 15);
}
