@font-face {
    font-family: Roboto;
    src: url(./font/Roboto/Roboto-Light.ttf);
}
html{
    margin: 0
}

body{
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 0 0 auto;
    --height: 100vh;
    height: 100vh;
    width: 30vw;
    position: relative;
}
@media screen and (max-width: 401px){
    .left, .left img{
        width: 100vw;
        max-height: 300px;
    }
}
.left img{
    width: auto;
    height: 100vh;
}

.banner{
    font-size: 54px;
    position: absolute;
    top: calc(var(--height) - 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: max(100px, var(--height) - 100%);
    background-color: rgba(0,0,0,0.3);
}

.banner-text, .banner img{
    flex-shrink: 0;
}

/* Start Now */
.banner-text{
    letter-spacing: 0.05em;
    font-size: max(32px,3vw);
    font-weight: bold;
    color: white;
}

/* logo */
.banner img{
    width: max(50px,3vw);
    height: clamp(50px,calc(var(--height) - 40%), 80%);
}

.right{
    position: relative;
    flex: 1 2 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: #592345;
}

.info{
    width: max(268px,80%);
    max-height: 200px;
    margin: 0 50px;
    padding: 20px;
    font-size: max(20px, 1.5vw);
    font-weight: 600;
    color: white;
}

.form-info{
    flex: 1 1 0%;
    height: 300px;
    width: auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(187, 184, 184);
}

.form{
    position: absolute;
    font-size: 24px;
    margin: 15px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    gap: 25px;
}

.first-line{
    font-size: 24px
}

form:last-child{
    font-size: 15px
}

.firstRow, .secondRow,
.thirdRow{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-control{
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.form-control input{
    display: block;
    width: 200px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
    margin-bottom: 2px;
    font-family: inherit;
    outline: none;
    border-radius: 4px;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 28px;
    left: 180px;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.password-constraints{
    position: absolute;
    visibility: hidden;
    font-size: 13px;
    
    top: -20px;
    left: 540px;
    width: 200px;
}

.form-control.error .password-constraints{
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    position: absolute;
    visibility: hidden;
    left: 0;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

label::after{
    content: ' *';
    color: red;
}

.required-class::before{
    content: '* ';
    color: red;
}

button, .last-line{
    position: absolute;
}

button{
    --background-color: rgba(199, 125, 51, 0.9);
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 25px;
    border: transparent;
    border-radius: 8px;
    top: calc(100% + 25px);
}

button:hover{
    background-color: rgba(199, 125, 51, 1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.last-line{
    top: calc(100% + 95px);
    font-size: 16px;
    font-weight: 600;
    color: black;
}

a{
    text-decoration: none;
    color: rgb(228, 122, 15);
}
